[defaults]
forks = 20
timeout = 300
callback_plugins = ./controller/callback_plugins
callbacks_enabled = ssm_compliance
host_key_checking = False
interpreter_python = auto_silent
gathering = smart

[connection]
pipelining = False
